.card{ 
    display: flex; 
    flex-direction: column; 
    text-align: center; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    padding: 10px; 
}

.img{  
    height: 100px; 
    width: 100px; 
    max-width: 100px; 
    max-width: 100px; 
    margin: 0px auto;
    object-fit: cover;
} 

.type{ 
    display: flex; 
    margin: -10px auto; 
    text-align: center;
} 
.type p { 
    margin-left: 5px; 
    text-align: center;
}