#fondo{  
    background-color:  #fbf8ccec; 
    height: 100%;
    #img{  
        
        h2{ 
            margin-left: 3.4rem;
        }
        img{ 
            margin-top: 1rem;
            position: absolute;
            top: 3rem;
            left: 1rem;
            height: 30rem;
            margin-left: 1rem;
        }
        height: 100%;

        .containers{ 
            display: flex;
            height: 100%;
            margin: 0px auto;
            background-color: black;
            position: absolute;
            width: 51%;
            top: 0rem;
            right: 0rem;
            flex-direction: column;
            justify-content: center;
            
            .welcome{ 
                margin: 0px auto;
                font-family: "Nunito";
                font-weight: bold;
                color: white;
                margin-bottom: 11rem;
                text-align: center;
            }    

            #link{ 
                text-decoration: none;  
            
                div{ 
                    display: flex; 
                    justify-content: center; 
                    margin: 0px auto;
                }
                .home{ 
                    background: #FBCA1F;
                    cursor: pointer;
                    font-family: inherit;
                    padding: 0.6em 1.3em;
                    position: absolute;
                    top: 18rem;
                    font-weight: 900;
                    font-size: 18px;
                    border: 3px solid black;
                    border-radius: 0.4em;
                    box-shadow: 0.1em 0.1em;
                    
                    &:hover {
                        transform: translate(-0.05em, -0.05em);
                        box-shadow: 0.15em 0.15em;
                    }
                    
                    &:active {
                        transform: translate(0.05em, 0.05em);
                        box-shadow: 0.05em 0.05em;
                    }
                }
            } 
        }
    }    
}


