@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Nunito:wght@200;300;400&display=swap'); 
$color-boton: linear-gradient(to bottom, #3eb8e5 0%, #2ca0ca 100%);

.pokemon{ 
    background-size: 100% 100%;
    background-image: url('../pokemon.png');
    position: absolute;
    height: 100px;
    background-repeat: no-repeat;
    width: 270px;
}

#nav{ 
    background-color: #444;
}

.logic{  
    display: flex;
    width: 70%;
    text-align: center; 
    margin: 0px 0px 0px auto;
} 

.pkimgs{ 
    height: 200px;
} 

.titulo{ 
    display: flex;  
    line-height: 4rem; 
    color: white;
    flex-direction: column; 
    h1{ 
        margin-bottom: -1rem; 
        font-family: 'Nunito'; 
        text-transform: uppercase;
    } 
    h2{ 
        font-family: 'Nunito';
    }
} 

.form{  
    line-height: 100px; 
    margin-left: 1rem;
    margin-bottom: 3.5rem;
    label{
        font-weight: 600;
    } 
    input{ 
        outline: none; 
        border: 1px solid #ccc; 
        border-radius: 5px; 
        padding: 5px; 
        box-shadow: 1px 1px 4px #ccc inset; 
        transition: all 300ms;

        &:focus{ 
            color: #555;
        }
    } 
    button{
        margin-left: 10px; 
        padding: 5px;
        cursor: pointer;
        border-radius: 5px; 
        font-weight: bold;
        color: white;
        border: 1px solid transparent; 
        background: $color-boton;  
        transition: all 300ms;
        
        &:hover{ 
            box-shadow: 0px 0px 3px gray;
        }
    }
} 


#apidb, 
#types, 
#fuerza, 
#order{ 
    outline: none; 
    border-radius: 5px;  
    cursor: pointer; 
    border: 1px solid rgb(250, 250, 247); 
    color: white;
    background-color: #444;  
    transition: all 300ms;

    &:focus{ 
        background-color: #fff; 
        color: #444;
    }
}


.buttons{ 
    box-shadow: -2px 4px 0px 2px black;
    display: flex;
    width: 96.87%;
    gap: 0rem;
    margin-top: -4rem;
    background-color: transparent;
    height: 2rem;
    padding: 1rem;
    justify-content: space-evenly;
    span{ 
        line-height: 28px; 
        color: white;
    }
} 

#crearpk{  
    display: flex; 
    flex-wrap: nowrap;
    padding: 9px;
    cursor: pointer;
    border-radius: 5px; 
    font-weight: bold;
    color: white;
    border: 1px solid transparent;
    background: $color-boton;   
    transition: all 300ms;

    &:hover{ 
        box-shadow: 0px 0px 3px gray;
    }
    a{ 
        text-decoration: none; 
        color: white;
    }
}


#refresh{   
    cursor: pointer;
    padding: 5px;
    border-radius: 5px; 
    font-weight: bold;
    color: white;
    border: 1px solid transparent;
    background: $color-boton; 
    transition: all 300ms;

    &:hover{ 
        box-shadow: 0px 0px 3px gray;
    }
}  

#anterior,
#siguiente{ 
    cursor: pointer;
    padding: 2px; 
    height: 32px; 
    line-height: 0px;
    width: 4%;
    border-radius: 5px; 
    font-weight: bold;
    color: white;
    border: 1px solid transparent;
    background: $color-boton; 
    transition: all 300ms;

    &:hover{ 
        box-shadow: 0px 0px 3px gray;
    }
} 

#delete{ 
    padding: 5px;
    margin-bottom: 2rem;
    margin-left: 1rem;
    width: 5rem;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    border: 1px solid transparent;
    background: #da2929;
    transition: all 300ms;

    a{ 
        text-decoration: none;
        color: white;
    }
    &:hover{ 
        box-shadow: 0px 0px 3px gray;
    }
}

