@use 'cards'; 
@use 'searchBar'; 
@use 'spin'; 
@use 'pokemonDetail';
@use 'formPokemon'; 
@use 'inicio';
 
html{ 
    height: 101%;
}
body{ 
    background-color: #fbf8ccec; 
    height: 111%;
    font-family: 'Nunito'; 
} 

