@use 'cards'; 
@use 'searchBar'; 
@use 'spin'; 
@use 'pokemonDetail';
@use 'formPokemon'; 
@use 'inicio'; 
@use 'about';
 
html{ 
    height: 100%;
}
body{ 
    background-color: #ffff; 
    height: 96%;
    font-family: 'Nunito'; 
} 

