@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Nunito:wght@200;300;400&display=swap");
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
.linkCard {
  text-decoration: none;
}
.linkCard .card {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #78C0CF;
  border-radius: 10px;
  padding: 10px;
  width: 7rem;
  transition: all 300ms;
}
.linkCard .card:hover {
  transform: scale(1.1, 1.1);
}
.linkCard .card:hover h2 {
  color: #fff;
}
.linkCard .card:hover .type p {
  color: #fff;
}
.linkCard .card h2 {
  font-size: 1rem;
  font-family: "Nunito";
  font-weight: bold;
  color: black;
  transition: all 300ms;
}
.linkCard .card h2:hover {
  color: #fff;
}
.linkCard .card img {
  height: 100px;
  width: 100px;
  max-width: 100px;
  max-width: 100px;
  margin: 0px auto;
  object-fit: cover;
}
.linkCard .card .type {
  display: flex;
  flex-wrap: wrap;
  margin: -10px auto;
  text-align: center;
}
.linkCard .card .type p {
  margin-left: 5px;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
  color: black;
  font-family: "Nunito";
}

#container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-left: 3.5rem;
  margin-top: 1.9rem;
}

.pokemon {
  background-size: 100% 100%;
  background-image: url("../pokemon.png");
  position: absolute;
  height: 100px;
  background-repeat: no-repeat;
  width: 270px;
}

#nav {
  background-color: #035aad;
}

.logic {
  display: flex;
  width: 70%;
  text-align: center;
  margin: 0px 0px 0px auto;
}

.pkimgs {
  height: 200px;
}

.titulo {
  display: flex;
  line-height: 4rem;
  color: white;
  flex-direction: column;
}
.titulo h1 {
  margin-bottom: -1rem;
  font-family: "Nunito";
  text-transform: uppercase;
}
.titulo h2 {
  font-family: "Nunito";
}

.form {
  line-height: 100px;
  margin-left: 1rem;
  margin-bottom: 3.5rem;
}
.form label {
  font-weight: 600;
}
.form input {
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 1px 1px 4px #ccc inset;
  transition: all 300ms;
}
.form input:focus {
  color: #555;
}
.form button {
  margin-left: 10px;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  border: 1px solid transparent;
  background: linear-gradient(to bottom, #3eb8e5 0%, #2ca0ca 100%);
  transition: all 300ms;
}
.form button:hover {
  box-shadow: 0px 0px 3px gray;
}

#apidb,
#types,
#fuerza,
#order {
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #fafaf7;
  color: black;
  background-color: white;
  transition: all 300ms;
}
#apidb:focus,
#types:focus,
#fuerza:focus,
#order:focus {
  background-color: #fff;
  color: #444;
}

.buttons {
  box-shadow: -2px 4px 0px 2px black;
  display: flex;
  width: 96.87%;
  gap: 0rem;
  margin-top: -4rem;
  background-color: transparent;
  height: 2rem;
  padding: 1rem;
  justify-content: space-evenly;
}
.buttons span {
  line-height: 28px;
  color: white;
}

#crearpk,
#aboutme {
  display: flex;
  flex-wrap: nowrap;
  padding: 9px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  border: 1px solid transparent;
  background: linear-gradient(to bottom, #3eb8e5 0%, #2ca0ca 100%);
  transition: all 300ms;
}
#crearpk:hover,
#aboutme:hover {
  box-shadow: 0px 0px 3px gray;
}
#crearpk a,
#aboutme a {
  text-decoration: none;
  color: white;
}

#refresh {
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  border: 1px solid transparent;
  background: linear-gradient(to bottom, #3eb8e5 0%, #2ca0ca 100%);
  transition: all 300ms;
}
#refresh:hover {
  box-shadow: 0px 0px 3px gray;
}

#anterior,
#siguiente {
  cursor: pointer;
  padding: 2px;
  height: 32px;
  line-height: 0px;
  width: 4%;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  border: 1px solid transparent;
  background: linear-gradient(to bottom, #3eb8e5 0%, #2ca0ca 100%);
  transition: all 300ms;
}
#anterior:hover,
#siguiente:hover {
  box-shadow: 0px 0px 3px gray;
}

#delete {
  padding: 5px;
  margin-bottom: 2rem;
  margin-left: 1rem;
  width: 5rem;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  border: 1px solid transparent;
  background: #da2929;
  transition: all 300ms;
}
#delete a {
  text-decoration: none;
  color: white;
}
#delete:hover {
  box-shadow: 0px 0px 3px gray;
}

.spinDiv {
  padding: 10px;
  width: 80%;
  margin: 2rem auto;
  background-color: transparent;
  font-size: 13px;
}
.spinDiv p {
  font-family: "Nunito";
  font-weight: 600;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #444;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
.spin2 {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  justify-content: center;
  width: 60%;
}
.spin2 h1 {
  text-align: center;
  font-family: "Nunito";
  font-size: 2rem;
}
.spin2 img {
  height: 450px;
  border-radius: 4px;
  margin: 0px auto;
  text-align: center;
  width: 450px;
}

.div {
  text-align: center;
  margin: 2rem 0px -1rem auto;
  width: 80%;
  display: flex;
}

.button {
  padding: 5px;
  margin-bottom: 2rem;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  border: 1px solid transparent;
  background: linear-gradient(to bottom, #3eb8e5 0%, #2ca0ca 100%);
  transition: all 300ms;
}
.button a {
  text-decoration: none;
  color: white;
}
.button:hover {
  box-shadow: 0px 0px 3px gray;
}

.container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0px auto;
  border-radius: 10px;
  box-shadow: 14px 9px 20px 2px #0101012e;
  margin-top: 3rem;
}
.container .bk {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: -3rem;
  text-align: center;
  border-radius: 12px 12px 0px 0px;
  width: 100.1%;
}
.container .bk #pokeimg {
  height: 12rem;
}
.container .container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lato";
}
.container .container1 h2 {
  font-size: 1rem;
}
.container .container1 .tipo {
  display: flex;
  margin: -10px auto;
  text-align: center;
}
.container .container1 .tipo p {
  margin-left: 5px;
  font-weight: bold;
  text-align: center;
  color: black;
  text-transform: capitalize;
  font-family: "Nunito";
}
.container .container1 .list {
  display: flex;
  gap: 1rem;
  list-style: none;
}
.container .container1 .list li {
  font-size: 20px;
  font-family: "Nunito";
}
.container .container1 .list2 {
  display: flex;
  font-weight: bold;
  gap: 1rem;
  list-style: none;
  font-family: "Nunito";
}

.divForm {
  margin: 0px auto;
  border: 1px solix #ccc;
  width: 80%;
  display: flex;
}
.divForm .button {
  height: 2rem;
  margin-top: 2rem;
}
.divForm .forms {
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin-left: 3rem;
  gap: 3px;
}
.divForm .forms label {
  font-weight: 600;
}
.divForm .forms input {
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 1px 1px 4px #ccc inset;
  transition: all 300ms;
}
.divForm .forms input:focus {
  color: #555;
}
.divForm .forms .typess {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.divForm .forms #button {
  display: flex;
  margin-top: 1rem;
}
.divForm .forms #button button {
  cursor: pointer;
  padding: 5px;
  margin-bottom: 2rem;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  border: 1px solid transparent;
  background: linear-gradient(to bottom, #3eb8e5 0%, #2ca0ca 100%);
  transition: all 300ms;
}
.divForm .forms #button button:hover {
  box-shadow: 0px 0px 3px gray;
}
.divForm .errorDiv {
  display: block;
  position: fixed;
  right: 1rem;
  width: 30%;
}
.divForm .errorDiv h1 {
  text-decoration: underline;
}
.divForm .errorDiv li {
  font-size: 14px;
  color: #dd0909;
  list-style: none;
}

#fondo {
  height: 100%;
}
#fondo #img {
  height: 100%;
}
#fondo #img h2 {
  margin-left: 3.4rem;
}
#fondo #img img {
  margin-top: 1rem;
  position: absolute;
  top: 10rem;
  left: 23rem;
  height: 16rem;
  margin-left: 1rem;
}
#fondo #img .containers {
  display: flex;
  height: 100%;
  margin: 0px auto;
  position: absolute;
  width: 100%;
  top: -3rem;
  right: 0rem;
  flex-direction: column;
  justify-content: center;
}
#fondo #img .containers .welcome {
  margin: 0px auto;
  font-family: "Nunito";
  font-weight: bold;
  color: black;
  margin-bottom: 11rem;
  text-align: center;
}
#fondo #img .containers #link {
  text-decoration: none;
}
#fondo #img .containers #link div {
  display: flex;
  justify-content: center;
  margin: 0px auto;
}
#fondo #img .containers #link .home {
  background: #FBCA1F;
  cursor: pointer;
  font-family: inherit;
  padding: 0.6em 1.3em;
  position: absolute;
  top: 29rem;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
}
#fondo #img .containers #link .home:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}
#fondo #img .containers #link .home:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

#about {
  margin-top: 9rem;
  box-shadow: 4px 2px 6px 0px #ccc;
  border-radius: 5px;
  width: 80%;
  position: absolute;
  margin-left: 6rem;
}
#about #pokemonImg {
  display: flex;
}
#about #pokemonImg .imgs {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian-bg.jpg);
  height: 13rem;
  padding: 1rem;
  border-radius: 5px 0px 0px 5px;
  display: flex;
  justify-content: center;
}
#about #pokemonImg .imgs img {
  height: 10rem;
}
#about #pokemonImg .content {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 0px;
  margin-top: -3rem;
}
#about #pokemonImg .content h1 {
  font-family: "Nunito";
  text-align: center;
}
#about #pokemonImg .content div {
  display: flex;
  margin-top: 1rem;
  gap: 3rem;
  justify-content: center;
}
#about #pokemonImg .content div a {
  color: black;
  text-decoration: none;
  font-size: 30px;
  list-style: none;
}

#navbar {
  position: absolute;
  top: 3rem;
  left: 28rem;
  font-family: "Nunito";
  text-decoration: underline;
}

.btn {
  padding: 5px;
  margin-bottom: 2rem;
  position: absolute;
  top: 5rem;
  left: 6rem;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  border: 1px solid transparent;
  background: linear-gradient(to bottom, #3eb8e5 0%, #2ca0ca 100%);
  transition: all 300ms;
}
.btn a {
  text-decoration: none;
  color: white;
}
.btn:hover {
  box-shadow: 0px 0px 3px gray;
}

html {
  height: 100%;
}

body {
  background-color: #fff;
  height: 96%;
  font-family: "Nunito";
}

/*# sourceMappingURL=styles.css.map */
